@model UpdateBookDto

<div class="d-flex justify-content-center">
    <div class="mt-4" style="width: 70%">
        <form asp-controller="Books" asp-action="Edit" enctype="multipart/form-data" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="card mb-4">
                <h5 class="card-header">Update Book</h5>
                <div class="card-body">
                    <div class="mb-3">
                        <label for="Name" class="form-label">Name</label>
                        <input asp-for="Name" type="text" class="form-control" id="Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Description" class="form-label">Description</label>
                        <input asp-for="Description" type="text" class="form-control" id="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="Price" class="form-label">Price</label>
                        <input asp-for="Price" type="number" class="form-control" id="Price" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="JanrId" class="form-label">Janr</label>
                        <select asp-for="JanrId" class="form-select" aria-label="Default select example">
                            <option value="" selected disabled>-- Select Janr --</option>
                            @foreach (var Janr in Model.Janrlar)
                            {
                                <option value="@Janr.Id">@Janr.Name</option>
                            }
                        </select>
                        <span asp-validation-for="JanrId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="AuthorId" class="form-label">Author</label>
                        <select asp-for="AuthorId" class="form-select" aria-label="Default select example">
                            <option value="" selected disabled>-- Select Author --</option>
                            @foreach (var author in Model.Mualliflar)
                            {
                                <option value="@author.Id">@author.Name</option>
                            }
                        </select>
                        <span asp-validation-for="AuthorId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">New Image</label>
                        <input asp-for="file" class="form-control" type="file" id="formFile" />
                        <span asp-validation-for="file" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a asp-controller="Books" asp-action="Index" class="me-2 btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
