@model List<JanrDto>

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <div class="d-flex justify-content-between align-items-center me-3">
            <h5 class="card-header">Janrlar</h5>
            <a asp-controller="janrs" asp-action="add" class="btn btn-primary">+ New</a>
        </div>
        <div class="table-responsive text-nowrap">
            @if (Model.Any())
            {
                <table class="table table-hover mb-5">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nomi</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var janr in Model)
                        {
                            <tr>
                                <td> <strong>@janr.Id</strong></td>
                                <td>@janr.Name</td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a asp-controller="janrs" asp-action="edit" asp-route-id="@janr.Id"
                                               class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <a asp-controller="janrs" asp-action="delete" asp-route-id="@janr.Id"
                                               onclick="return confirm('Anniq O'chirmoqchimisiz?')"
                                               class="dropdown-item"><i class="bx bx-trash me-1"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="card-body">
                    <p class="card-text">Janrlar mavjud emas</p>
                </div>
            }
        </div>
    </div>
</div>
