@model AddBookDto

<div class="d-flex justify-content-center">
    <div class="mt-4" style="width: 70%">
        <form asp-controller="Books" asp-action="Add" enctype="multipart/form-data">
            <div class="card mb-4 px-4 py-3">
                <h5 class="card-header">New Book</h5>
                <div class="Bookd-body">
                    <div class="mb-3">
                        <label for="defaultFormControlInput" class="form-label">Name</label>
                        <input asp-for="Name" type="text"
                               class="form-control"
                               id="defaultFormControlInput"
                               aria-describedby="defaultFormControlHelp" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="defaultFormControlInput" class="form-label">Description</label>
                        <input asp-for="Description" type="text"
                               class="form-control"
                               id="defaultFormControlInput"
                               aria-describedby="defaultFormControlHelp" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="defaultFormControlInput" class="form-label">Price</label>
                        <input asp-for="Price" type="number"
                               class="form-control"
                               id="defaultFormControlInput"
                               aria-describedby="defaultFormControlHelp" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="JanrId" class="form-label">Janr</label>
                        <select asp-for="JanrId" class="form-select" aria-label="Default select example">
                            <option selected disabled>-- Select Janr -- </option>
                            @foreach (var Janr in Model.Janrlar)
                            {
                                <option value="@Janr.Id">@Janr.Name</option>
                            }
                        </select>
                        <span asp-validation-for="JanrId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="AuthorId" class="form-label">Author</label>
                        <select asp-for="AuthorId" class="form-select" aria-label="Default select example">
                            <option selected disabled>-- Select Author -- </option>
                            @foreach (var author in Model.Mualliflar)
                            {
                                <option value="@author.Id">@author.Name</option>
                            }
                        </select>
                        <span asp-validation-for="AuthorId" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Image</label>
                        <input asp-for="file" class="form-control" type="file" id="formFile" />
                        <span asp-validation-for="file" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a asp-controller="Books" asp-action="Index" class="me-2 btn btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
